/Lab2/nbproject/private/
/Lab2/build/
/Lab3/nbproject/private/
/Lab3/build/
/Lab4/nbproject/private/
/Lab4/build/
/Lab_4/nbproject/private/
/Lab_4/build/
/Lab6/nbproject/private/
/Lab6/build/
/SocialMedia_Skeleton/nbproject/private/
/Lab8/nbproject/private/
